.App {
    width: 100.7%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(-45deg, #d4e6f8, #e6e9ec);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


.sideBar {
    height: 100%;
    width: 15%;
    background: #1C2D43;
    position: fixed;
}





.sidebarList {
    height: 100%;
    width: 100%;
    padding: 0%;
}



.sidebarList .row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebarList .row:hover {
    cursor: pointer;
    background-color: #0a4d8b;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;

}

.row #title {
    flex: 70%;
}

#heading {
    color: aliceblue;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;

}

#sub-heading {
    color: aliceblue;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    


}

.titleSize{
   font-size: 20px;
}
.buttonColors{
    background-color: #2955C8;
}

.container {
    background-color: #fcfcfc;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;

}

#data-title {
    color: #1C2D43;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}

#mini-Button {
    background-color: white;
}

#edit{
    border: none;
    background-color: transparent;
    color:#1C2D43;
 }

 #edit:hover {
    color:#2955C8;
 }


 .header {
     padding: 3px;
     text-align: center;
     background:white;
     color: black;
     font-size: 10px;
    position: relative;
   }
 
 /* make gucImage too small
  */
  .gucImage{
      left: -530px;
     width: 130px;
     height: 55px;
     position: relative;
  }

  #Navbar {
      position: fixed;
  }


  .tab {
      width: 50%;
      font-size:20px;
      background:white;
      border:none;
      outline:none;
      padding:10px 20px ;
      cursor:pointer;
      color:rgba(0,0,0,.4);
      transition:all ease-in-out .2s;
      border-bottom:2px solid transparent;
      text-align: center;
      text-decoration: none;
  }

  .content{
      background-color: white;
      min-height: auto;
  }

  #act {
      background-color: #1C2D43 ;
      color: white;
      border-radius: 15px;
  }

.NavLink {
text-decoration: none;
color: black;
  }

  .tableHeader{
      background-color: #1C2D43;
      font-size: large;
      color: white;
      
  }